<footer class="px-4 py-6 my-6 mx-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 xl:p-8 dark:bg-gray-800 {{ if eq .Params.layout "dashboard" }}lg:ml-64{{ end }}">
  <div class="flex justify-center w-full">
    <p class="text-sm text-center text-gray-500 dark:text-gray-400">
      &copy; <span id="copyright-year">{{ dateFormat "2006" now }}</span>
      <span class="font-semibold text-brand-500 dark:text-brand-300">gon</span><span class="font-semibold text-accent-500 dark:text-accent-400">motor</span>.
      Todos los derechos reservados.
    </p>
  </div>
</footer>